.m {
  color: blue;
  background-color: aqua;
}
.f{
  color:red;
  background-color: pink;
}

.card{
  display: flex;
  border-radius: 2rem;
  padding-left: 2rem;
  font-size: xx-small;
  padding-right: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}
.container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px;


}
.name-container{
  width:100%;
  display: flex;
  flex-wrap: wrap;

}